html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background: #f0f0f0;
}

.frame_holder {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    background: #ffffff;
}

.scroll_frame {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
}

.my_frame {
    width: 100%;
    height: 100%;
    border: none;
    vertical-align: top;
}

.hidden {
    display: none;
}
